{% extends "base.html" %}

{% block title %}External Module Management{% end %}

{% block head %}
<link rel="stylesheet" href="{{static_url('griddle.css')}}"/>
<link rel="stylesheet" href="{{static_url('highlightjs.css')}}"/>
{% end head %}

{% block body %}

<section class="content-header">
    <h1>
        Management
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-pie-chart"></i> Management</a></li>
        <li class="active">External Modules</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">

            <!-- Small boxes (Stat box) -->
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"> Stored External Modules</h3>
                </div>

                <div class="box-body pad">
                    <div id="app">
                        <!--app renders here-->
                    </div>
                </div> <!-- end box body -->
            </div>
        </div>
    </div>

</section>

{% end body %}
{% block endjs %}

<script src="{{static_url('src/manageExternalModules-bundle.js')}}" type="text/javascript"></script>

{% end endjs %}