

@font-face {
  font-family: 'Aileron';
  src: url('aileron.otf');
}

body {
   font-size: 16px;
   min-height: 100%;
   font-family: 'Aileron', sans-serif;
   font-weight: 400;
   font-style: normal;
   line-height: 25px;
   padding-top: 160px; /* make room for nav bar */
}
.tooltip-inner {
max-width: none;
}
.header-spacing {
  padding-bottom: 20px;
}

.left-padding {
  padding-left: 20px;
}

.full-right {
  padding-right: 15px;
}

.box-padding {
  padding-left: 20px;
  padding-bottom: 10px;
}

.filter-heading {
padding-bottom: 5px;
}

.btn-danger {
  background-color:#eeeeee;
  border-color: #eeeeee;
  color: #555555;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #555555;
  background-color: #eeeeee;
  border-color: #eeeeee;
}

.version {
  position: absolute;
  left: 50px;
  top: 35px;
}

.navbar-collapse {
  max-height: 750px;
  max-width: 100%;
  min-width: 940px;
 overflow-x: hidden;
}

.navbar-nav {
 width: 768.96875px;
}

.tracker-search-width {
 max-width: 180px;
}

.allhosts-padding {
  padding-bottom: 5px;
  }

.ul-padding {
  padding-left: 20px;
  padding-right: 20px;
}

.table > tbody > tr > td.active {
 background-color: #eeeeee !important;
 table-layout: fixed;
 word-wrap: break-word;
}

.table-bordered th,
  .table-bordered td {
        border: 0px solid #ccc !important;
        padding-right: 3px;
      }
.spaceHead {
text-align: center;
}
.spaceCell {
text-align: right;
padding-right: 75px !important;
}
.panel-default {
    border-color: #ccc;
  }

.table-thin {
max-height: 34px; 
overflow: hidden;
}

div#manage-help {
  font-size: 15px;
}

div#manage-help p {
   font-size: 15px;
}

h1 {
   font-size: 52px;
   line-height: 60px;
   margin: 0px 0px 15px 0px;
   font-weight: 400;
   font-style: normal;
   text-align: center;
}

h2 {
   font-size: 36px;
   line-height: 46px;
   margin: 0px 0px 25px 0px;
   width: 547.96875px;
   text-align: left;
}

h3 {
   font-size: 28px;
   line-height: 36px;
   margin: 0px 0px 19px 0px;
}

h4 {
   margin-bottom: 25px;
   font-weight: 600;
   font-style: normal;
}

p {
   margin: 0px 0px 25px 0px;
   text-transform: inherit;
   font-size: 16px;
   width: 99.994%;
   text-align: left;
   line-height: 22px;
}

p.intro {
   font-size: 24px;
   line-height: 29px;
   margin: 0px 0px 13px 0px;
}

blockquote.pull-quote {
   margin: 0em 1em 1em 0em;
   border-left: 3px solid #ccc;
   padding: 0em 0em 0em 0.7em;
}

div.content {
   margin: 0 auto;
   text-align: left;
   width: 80%;
   padding: 50px 0px 0px 0px;
}

h5 {
   margin: 0px 0px 25px 0px;
}

p.quote {
   font-size: 23px;
   line-height: 28px;
   font-style: italic;
   color: #666666;
   margin: 0px;
}

blockquote {
   font-size: 26px;
   line-height: 37px;
   margin-bottom: 25px;
}

ul {
   margin: 10px 20px 10px 0px;
   padding: 10px 20px;
   text-align: justify;
}

section.thirds:before {
   content: "";
   display: table;
}

section.thirds:after {
   content: "";
   display: table;
   clear: both;
}

section.thirds {
   margin: 0 auto;
   text-align: center;
   width: auto;
}

div.third {
   float: left;
   width: 33.33%;
   text-align: center;
   margin: 0;
   padding-right: 10px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

p.p1 {
   margin: 0px 0px 25px 0px;
}

li {
   text-align: left;
}

div.basic {
   margin: 0 auto;
   width: 1019.25px;
   text-align: center;
}

p.p1 a {
}

p.p1 a:hover {
}

p.p1 a:visited {
}

li a {
}

li a:hover {
}

li a:visited {
}

br {
}

a {
}

div.lead-sell {
   margin: 0px 0px 0px 50px;
}

ul.lead-sell {
   margin: 0px 0px 0px 0px;
   width: 341.96875px;
   font-size: 18px;
}


p a {
}

p a:hover {
}

p a:visited {
}

hr {color:sienna;}

em {color:#669933 ;}

#wrapper{
    margin: 5% 0px 0px 0px;
    overflow:auto;
    height:120px;
 }

 #c1{
    float:left;
 }

 #c2{
    float:right;
 }
 
/* tracker */ 
.tracker-filter-field {
    width: 9em;
    text-align: left;
}
 
/* tracker record */
.table-borderless td,
.table-borderless th {
    border: 0;
}
tr.attribute th {
    border-right: 2px solid blue;
}

span.icon-amber:before { 
    color: #FFBF00;        
}

span.icon-red:before { 
    color: red;        
}

span.icon-green:before { 
    color: green;        
}

tbody#trace td {
  font-size: 12px;
}

.manage-scenario-actions {
   width: 16em;
}   


/* dropdown sub-menus not supported anymore with bootstrap 3 
   see http://stackoverflow.com/questions/18023493/bootstrap-3-dropdown-sub-menu-missing
*/
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}


/* Pygments */ 
.highlight .hll { background-color: #ffffcc }
.highlight  { background: #f8f8f8; }
.highlight .c { color: #408080; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */

