{% extends "base.html" %}
{% block content %}
<h2>Executed</h2>
<ul>
{% for k,v in executed.iteritems() %}
    <h3>{{k}}</h3>
    {% for cmd in v or [] %} 
        <li>
        {{cmd[0]}}
         => 
        {% if cmd[1] > 399 %}
            {{cmd[1:]}}
        {% else %}
            {{cmd}}
        {% end %}
            
        {% if cmd[0] in export_links %}
         => 
        {% set link = export_links[cmd[0]][1] %}
        <a href="{{link[1]}}">{{link[0]}}</a>
        {% end %}
        </li>
    {% end %}
    <br/>
{% end %}
</ul>

{% end %}