



<div id="manage-help">
    <h3>Example Commands</h3>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Example Command</th>
                <th>Function</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="color:blue;">begin/session?scenario=<em>abc</em>&session=<em>123</em>&mode=record</td>
                <td>begin a session in record mode.</td>
            </tr>
            <tr>
                <td style="color:blue;">put/stub?session=<em>123</em></td>
                <td>load stubs. Stub matcher and response is to be in the HTTP body. (POST)</td>
            </tr>
            <tr>
                <td style="color:blue;">end/session?session=<em>123</em></td>
                <td>end a record session.</td>
            </tr>
            <tr>
                <td style="color:blue;">get/export?scenario=<em>abc</em></td>
                <td>export stubs.</td>
            </tr>
            <tr>
                <td style="color:blue;">/stubo/api/exec/cmds?cmdfile=<em>command file URI</em></td>
                <td>import stubs by executing a command script.</td>
            </tr>
            <tr>
                <td style="color:blue;">begin/session?scenario=<em>abc</em>&session=<em>123</em>&mode=playback</td>
                <td>begin a session in playback mode.</td>
            </tr>
            <tr>
                <td style="color:blue;">get/response?session=<em>123</em></td>
                <td>get Stubo responses - usually done by test tool utilising the stubo client library. (POST)
            </tr>
            <tr>
                <td style="color:blue;">end/session?session=<em>123</em></td>
                <td>end a playback session.</td>
            </tr>
            <tr>
                <td style="color:blue;">delete/stubs?scenario=<em>abc</em></td>
                <td>delete stubs.</td>
            </tr>
            <tr>
                <td style="color:blue;">put/delay_policy?name=<em>delay_1</em>&delay_type=<em>fixed</em>&milliseconds=<em>200</em>
                </td>
                <td>set a delay policy.</td>
            </tr>
            </tbody>
        </table>
    </div>

    <p>All commands above are written as if run in a command file. They can also be run as http commands such
        as:</p>
    <pre>http://<em>'stubo host'</em>/stubo/api/begin/session?scenario=foo&session=foo_1&mode=record</pre>
    <p></p>

    <h3>Sessions and Scenarios</h3>

    <p>In Stubo, a session corresponds to a transactional unit of work such as the recording
        or playback of stubs.
        A scenario identifies a set of recorded stubs which can be reused by multiple sessions.
        The session name used to record stubs may be the same or different from the
        session name used in playback. In either case sessions should be ended when no
        longer in active use as they consume resources.
    </p>

    <p>Scenarios can be deleted and will delete all the stubs in the scenario and any sessions using those stubs.
        Delete will only succeed if all sessions based on the scenario have ended.
    </p>

    <p>Manage stubs using the Stubo REST API. The commands below should generally be
        scripted in a Stubo commands file or triggered from a test tool (using HTTP).
        This encourages and enables re-use.</p>

    <h3>Test data setup and teardown </h3>

    <p>A software test often begins with a data setup step and is concluded with test data teardown.
        Ideally this is automated by the tool running the test. Stubo enables this from most
        tests tools through the use of an HTTP call to Stubo to execute a stub command file.
        Such a call should load stubs and begin a Stubo session in playback mode ready for the
        test itself.
    </p>

    <p>At the conclusion of the test a teardown step should end the playback session and
        delete stubs.</p>
    <h4>Stubo command files</h4>

    <p>Execute all the commands in a command file as follows:
<pre>
    http://<em>'stubo host'</em>/stubo/default/exec/cmds?cmdfile=<em>'url of file'</em>
</pre>
    The 'url of file' will typically be a full http:// url to the file in SVN or
    other code repository, or a location in the stubo host server itself.

    <p>An example which performs the Stubo equivalent of 'Hello World' is:</p>
<pre>
    <a href="/stubo/api/exec/cmds?cmdfile=/static/cmds/demo/first_setup.commands">http://<em>'stubo host'</em>/stubo/api/exec/cmds?cmdfile=/static/cmds/demo/first_setup.commands</a>
</pre>
    <p></p>

    <p>first_setup.commands contains the data setup:</p>
<pre>
    begin/session?scenario=first&session=first_1&mode=record<br/>
    put/stub?session=first_1,first.textMatcher,first.response<br/>
    end/session?session=first_1<br/>
    begin/session?scenario=first&session=first_1&mode=playback<br/>
</pre>
    <br/>

    <p>When the test is completed the following teardown should be run</p>
<pre>
    <a href="/stubo/api/exec/cmds?cmdfile=/static/cmds/demo/first_teardown.commands">http://<em>'stubo host'</em>/stubo/api/exec/cmds?cmdfile=/static/cmds/demo/first_teardown.commands</a>
</pre>
    <p></p>

    <p>first_teardown.commands contains the following cmds:</p>
<pre>
    get/response?session=first_1,first.request<br/>
    end/session?session=first_1<br/>
</pre>
    </p>
</div>