{% extends "base.html" %}

{% block title %}Delay Policy Management{% end %}

{% block head %}
<link rel="stylesheet" href="{{static_url('node_modules/griddle-react/build/griddle.css')}}"/>

{% end head %}

{% block body %}

<section class="content-header">
    <h1>
        Management
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-pie-chart"></i> Management</a></li>
        <li class="active">Delay policies</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">

            <!-- Small boxes (Stat box) -->
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"> Stored Delay Policies</h3>
                </div>

                <div class="box-body pad">
                    <div id="app">
                        <!--app renders here-->
                    </div>
                </div>
                <!-- end box body -->
            </div>
        </div>


    </div>

</section>

{% end body %}
{% block endjs %}

<!--<link href="css/griddle.css" rel="stylesheet" />-->
<script src="{{static_url('node_modules/underscore/underscore-min.js')}}" type="text/javascript"></script>
<script src="{{static_url('react/build/react.js')}}" type="text/javascript"></script>
<script src="{{static_url('react/build/react-bootstrap.js')}}" type="text/javascript"></script>

<script src="{{static_url('react/build/JSXTransformer.js')}}" type="text/javascript"></script>

<script src="{{static_url('node_modules/griddle-react/build/griddle.js')}}" type="text/javascript"></script>


<script type="text/jsx">

    var DelayDetailsComponent = React.createClass({
        displayName: "DelayDetailsComponent",

        getInitialState: function () {
            // getting scenario name and hostname
            return {
                labelClass: 'label label-default'
            };
        },

        componentDidMount: function () {

        },

        render: function () {

            switch (this.props.rowData.delay_type) {
                case undefined:
                    this.state.labelClass = '';
                    break;

                case 'fixed':
                    return <span> {this.props.rowData.milliseconds} milliseconds</span>;
                    break;

                case 'playback':
                    this.state.labelClass = 'label label-success';
                    break;

                case 'record':
                    this.state.labelClass = 'label label-warning';
                    break;
            }


            return <span className={this.state.labelClass}> {this.props.rowData.delay_type}</span>

        }
    });

    // remove delay policy action button
    var RemoveButton = React.createClass({
        getInitialState: function () {
            // getting ref
            return {
                ref: this.props.data.delayPolicyRef,
                name: this.props.data.name
            };
        },
        handleClick: function (event) {

            var infoModal = $('#myModal');
            var name = this.state.name;
            $.ajax({
                type: "DELETE",
                url: this.state.ref,
                success: function () {
                    var htmlData = '<ul><li> Delay policy (' + name + ') removed successfuly. </li></ul>';
                    infoModal.find('.modal-body').html(htmlData);
                    infoModal.modal('show');
                    return false;
                }
            }).fail(function ($xhr) {
                var response = $xhr;
                var htmlData = '<ul><li> Status code: ' + response.status + '. Error: ' + response.responseText + '</li></ul>';
                infoModal.find('.modal-body').html(htmlData);
                infoModal.modal('show');
                return false;
            });

        },
        render: function () {
            // using react-bootstrap
            var Button = ReactBootstrap.Button;
            return (
                    <Button onClick={this.handleClick} bsStyle='danger' bsSize='small'>
                        <span>Remove</span>
                    </Button>
            );
        }
    });

    var ActionComponent = React.createClass({
        displayName: "ActionComponent",

        render: function () {
            // rendering action buttons
            return (
                    <RemoveButton data={this.props.rowData}/>
            )
        }
    });

    var columnMeta = [
        {
            "columnName": "name",
            "displayName": "Delay Name",
            "order": 1,
            "locked": false,
            "visible": true
        },
        {
            "columnName": "delay_type",
            "displayName": "Type",
            "order": 2,
            "locked": false,
            "visible": true
        },
        {
            "columnName": "details",
            "displayName": "Details",
            "locked": false,
            "visible": true,
            "customComponent": DelayDetailsComponent
        },
        {
            "columnName": "actions",
            "displayName": "Actions",
            "locked": false,
            "visible": true,
            "customComponent": ActionComponent
        }

    ];

    function updateTable(component, href) {
        $.get(href, function (result) {
            if (component.isMounted()) {
                component.setState({

                    results: result.data
                });
            }
        });
    }

    var ExternalDelayPolicies = React.createClass({
        getInitialState: function () {
            var initial = {
                "results": [],
                "resultsPerPage": 10
            };

            return initial;
        },
        //general lifecycle methods
        componentWillMount: function () {
        },
        componentDidMount: function () {
            // getting delay policies
            var href = '';
            if ($.cookie("stubo.all-hosts") == 'true') {
                // amending query argument to get all hosts
                href = this.props.source + '?all-hosts=true'
            } else {
                href = this.props.source + '?all-hosts=false'
            }

            updateTable(this, href);

            // subscribing to modal close event
            $('#myModal').on('hidden.bs.modal', function () {
                updateTable(this, href);
            }.bind(this));
        },

        //what page is currently viewed
        setPage: function (index) {
        },
        //this will handle how the data is sorted
        sortData: function (sort, sortAscending, data) {
        },
        //this changes whether data is sorted in ascending or descending order
        changeSort: function (sort, sortAscending) {
        },
        //this method handles the filtering of the data
        setFilter: function (filter) {
        },
        //this method handles determining the page size
        setPageSize: function (size) {
        },


        render: function () {
            return <Griddle results={this.state.results}
                            useGriddleStyles={true}
                            showFilter={true} showSettings={true}
                            resultsPerPage={this.state.resultsPerPage}
                            columnMetadata={columnMeta}
                            columns={["delay_type", "name", "details", "actions"]}/>
        }
    });

    React.render(
            <ExternalDelayPolicies source="/stubo/api/v2/delay-policy/detail"/>,
            document.getElementById('app')
    );


</script>
{% end endjs %}