{% extends "base.html" %}

{% block title %}Salesforce Dashboard{% end %}

{% block body %}
<section class="content-header">
    <h1>
        Management
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-pie-chart"></i> Management</a></li>
        <li class="active">Scenarios</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            {% if data["scenarios"] != None %}
            <!-- Small boxes (Stat box) -->
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"> Stored Scenarios</h3>
                </div>

                <div class="box-body pad">
                <!-- /.box-header -->
                <table id="scenarios" class="table table-condensed table-bordered">
                    <thead>
                    <tr>
                        <th>Scenario</th>
                        <th>Sessions</th>
                        <th>Status</th>
                        <th>Loaded</th>
                        <th>Last Used</th>
                        <th>Stubs</th>
                        <th>Space used (KB)</th>
                        <th>Actions</th>
                    </tr>

                    </thead>
                    <tbody>

                    {% for scenario in data["scenarios"] %}

                        <tr>
                            <!--scenario name-->
                           <td>
                               {{ scenario["name"] }}
                           </td>

                            <!--session name-->
                           <td>
                               <ul class="list-unstyled">
                               {% for ses in scenario["sessions"] %}

                                   <li> {{ses["name"] }}</li>

                               {% end %} <!-- end for sessions -->
                               </ul>
                           </td>

                           <!--session status -->
                            <td>
                                <ul class="list-unstyled">
                                    {% for ses in scenario["sessions"] %}

                                    <li> {{ses["status"] }}</li>

                                    {% end %} <!-- end for sessions -->
                                </ul>
                            </td>

                           <!--session loaded -->

                            <td>
                                <ul class="list-unstyled">
                                    {% for ses in scenario["sessions"] %}

                                    <li> {{ses["loaded"] }}</li>

                                    {% end %} <!-- end for sessions -->
                                </ul>
                            </td>

                           <!--session last used-->

                            <td>
                                <ul class="list-unstyled">
                                    {% for ses in scenario["sessions"] %}

                                    <li> {{ses["last_used"] }}</li>

                                    {% end %} <!-- end for sessions -->
                                </ul>
                            </td>

                            <!--stub count-->
                           <td>
                                {{ scenario["stub_count"] }}
                           </td>

                           <!--scenario size-->
                            <td>
                                {{ scenario["space_used_kb"] }}
                           </td>

                           <!--action button -->
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-flat">Action</button>
                                    <button type="button" class="btn btn-default btn-flat dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#"><span
                                                class="glyphicon glyphicon-play"></span>Playback</a></li>

                                        <li><a href="#"><span
                                                class="glyphicon glyphicon-stop"></span>End all sessions</a></li>

                                        <li><a href="#"><span
                                                class="glyphicon glyphicon-remove-sign"></span>Delete stubs</a></li>

                                        <li class="divider"></li>
                                        <li>
                                        <a href="/stubo/api/get/export?scenario={{scenario['name']}}&html=true"><span
                                                class="glyphicon glyphicon-cloud-download"></span>&nbsp; Export
                                            scenario</a>
                                        </li>
                                    </ul>
                                </div>

                            </td>
                        </tr>

                    {% end %}  <!-- end for scenarios -->

                    </tbody>
                </table>
                </div> <!-- end box body -->
            </div>
            {% else %}
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Report not available</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    No scenarios were found.
                </div><!-- /.box-body -->
            </div>
            {% end %}
        </div>


    </div>

</section>

{% end body %}
{% block endjs %}
<!-- DATA TABES SCRIPT -->
<script src="{{static_url('theme/plugins/datatables/jquery.dataTables.js')}}" type="text/javascript"></script>
<script src="{{static_url('theme/plugins/datatables/dataTables.bootstrap.js')}}" type="text/javascript"></script>
<script type="text/javascript">

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    $(function () {
        $('#scenarios').dataTable({
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false
        });
    });
</script>

{% end endjs %}