{% extends "base.html" %}

{% block title %} Manage Scenarios{% end %}

{% block head %}
<link rel="stylesheet" href="{{static_url('node_modules/griddle-react/build/griddle.css')}}"/>

{% end head %}


{% block body %}
<section class="content-header">
    <h1>
        Management
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-pie-chart"></i> Management</a></li>
        <li class="active">Scenarios</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Small boxes (Stat box) -->
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"> Stored Scenarios</h3>
                </div>

                <div class="box-body pad">
                    <div id="app">
                        <!--app renders here-->
                    </div>

                    <div id="app1">

                    </div>
                </div>
                <!-- end box body -->
            </div>

        </div>


    </div>

</section>


{% end body %}
{% block endjs %}

<!--<link href="css/griddle.css" rel="stylesheet" />-->
<script src="{{static_url('node_modules/underscore/underscore-min.js')}}" type="text/javascript"></script>

<script src="{{static_url('react/build/react.js')}}" type="text/javascript"></script>

<!--react bootstrap-->
<script src="{{static_url('react/build/react-bootstrap.js')}}" type="text/javascript"></script>

<script src="{{static_url('react/build/JSXTransformer.js')}}" type="text/javascript"></script>
<script src="{{static_url('node_modules/griddle-react/build/griddle.js')}}" type="text/javascript"></script>


<script type="text/jsx">

    var Tooltip = ReactBootstrap.Tooltip;
    var OverlayTrigger = ReactBootstrap.OverlayTrigger;


    function SessionExecute(href, body) {
        var infoModal = $('#myModal');

        $.ajax({
            type: "POST",
            dataType: "json",
            url: href,
            data: JSON.stringify(body),
            success: function (data) {
                var info_msg = JSON.stringify(data.data, null, 2);
                var htmlData = '<ul><li>Message: ' + info_msg + '</li></ul>';
                infoModal.find('.modal-body').html(htmlData);
                infoModal.modal('show');
                return false;
            }
        }).fail(function ($xhr) {
            var data = $xhr.responseJSON;
            console.log(data);
            var htmlData = '<ul><li>Error: ' + data.error.message + '</li></ul>';
            infoModal.find('.modal-body').html(htmlData);
            infoModal.modal('show');
            return false;
        });

    }

    // we are getting session data nested in the array, so we bring it forward
    function reformatJSON(initialData) {

        var newScenariosList = [];
        for (var key in initialData) {
            if (initialData.hasOwnProperty(key)) {
                // console.log(key + " -> " + initialData[key].name);
                var singleObj = {};
                singleObj['name'] = initialData[key].name;
                singleObj['ref'] = initialData[key].scenarioRef;
                singleObj['space_used_kb'] = initialData[key].space_used_kb;
                singleObj['stub_count'] = initialData[key].stub_count;
                singleObj['recorded'] = initialData[key].recorded;

                // separating session data across different keys
                var sessionNames = [];
                var sessionStatus = [];
                var sessionLoaded = [];
                var sessionUsed = [];

                initialData[key].sessions.forEach(function (entry) {
                    sessionNames.push(entry.name);
                    sessionStatus.push(entry.status);
                    sessionLoaded.push(entry.loaded);
                    sessionUsed.push(entry.last_used);
                });

                singleObj['sessions'] = sessionNames;
                singleObj['status'] = sessionStatus;
                singleObj['loaded'] = sessionLoaded;
                singleObj['last_used'] = sessionUsed;

                newScenariosList.push(singleObj);

            }
        }
        return newScenariosList
    }

    var LinkComponent = React.createClass({
        displayNam: "LinkComponent",

        render: function () {
            url = "/manage/scenarios/details?scenario=" + this.props.rowData.ref;
            return <a href={url}>{this.props.data}</a>
        }
    });

    var DownloadButton = React.createClass({
        render: function () {
            const DownloadTooltip = (
                    <Tooltip>Export scenario.</Tooltip>
            );

            var hostname_scenario = this.props.data.split(":");
            var url = "/stubo/api/get/export?scenario=" + hostname_scenario[1] + "&html=true";
            return (
                    <OverlayTrigger placement='left' overlay={DownloadTooltip}>
                        <a href={url} className="btn btn-sm btn-info">
                            <span
                                    className="glyphicon glyphicon-cloud-download"></span>
                        </a>
                    </OverlayTrigger>
            );
        }
    });

    // end session placeholder
    var EndSessionsButton = React.createClass({
        getInitialState: function () {
            return {
                ref: this.props.data.ref,
                sessionCount: this.props.data.sessions.length,
                status: false
            };
        },
        handleClick: function (event) {
            console.log("End Session!!");
            this.setState({status: !this.state.status});

            var href = this.state.ref + "/action";

            var body = {
                end: 'sessions'
            };
            SessionExecute(href, body);

        },
        render: function () {


            const EndSessionsTooltip = (
                    <Tooltip>End all active sessions for this scenario.</Tooltip>
            );
            // checking whether scenario has a session and whether it is dormant or not
            if (this.state.sessionCount > 0 && this.props.data.status[0] != 'dormant') {
                return (
                        <OverlayTrigger placement='left' overlay={EndSessionsTooltip}>
                            <button onClick={this.handleClick} className="btn btn-sm btn-warning">
                                <span
                                        className="glyphicon glyphicon-stop"></span>
                            </button>
                        </OverlayTrigger>
                );
            }
            // session status is either dormant or there are no sessions, disabling button
            else {
                return (
                        <button onClick={this.handleClick} className="btn btn-sm btn-warning disabled">
                            <span
                                    className="glyphicon glyphicon-stop"></span>
                        </button>
                );
            }
        }
    });

    // remove scenario action button
    var RemoveButton = React.createClass({
        getInitialState: function () {
            // getting scenario ref
            return {
                ref: this.props.data.ref,
                name: this.props.data.name
            };
        },
        handleClick: function (event) {

            var infoModal = $('#myModal');
            var scenarioName = this.state.name;

            $.ajax({
                type: "DELETE",
                url: this.state.ref,
                success: function () {
                    var htmlData = '<ul><li> Scenario (' + scenarioName + ') removed successfuly. </li></ul>';
                    infoModal.find('.modal-body').html(htmlData);
                    infoModal.modal('show');
                    return false;
                }
            }).fail(function ($xhr) {
                var response = $xhr;
                console.log(response);
                var htmlData = '<ul><li> Status code: ' + response.status + '. Error: ' + response.responseText + '</li></ul>';
                infoModal.find('.modal-body').html(htmlData);
                infoModal.modal('show');
                return false;
            });

        },
        render: function () {
            const RemoveTooltip = (
                    <Tooltip>Remove scenario.</Tooltip>
            );


            return (
                    <OverlayTrigger placement='left' overlay={RemoveTooltip}>
                        <button onClick={this.handleClick} className="btn btn-sm btn-danger">
                            <span
                                    className="glyphicon glyphicon-remove-sign"></span>
                        </button>
                    </OverlayTrigger>
            );
        }
    });

    var ActionComponent = React.createClass({
        displayName: "ActionComponent",

        render: function () {


            // rendering action buttons
            return (<div className="btn-group">
                        <DownloadButton data={this.props.rowData.name}/>
                        <RemoveButton data={this.props.rowData}/>
                        <EndSessionsButton data={this.props.rowData}/>
                    </div>
            )
        }
    });

    var StatusLabelComponent = React.createClass({
        displayName: "StatusLabelComponent",

        getInitialState: function () {
            // getting scenario name and hostname
            return {
                labelClass: 'label label-default'
            };
        },

        componentDidMount: function () {

        },

        render: function () {
            switch (this.props.rowData.status[0]) {
                case undefined:
                    this.state.labelClass = '';
                    break;
                case 'dormant':
                    break;
                case 'playback':
                    this.state.labelClass = 'label label-success';
                    break;
                case 'record':
                    this.state.labelClass = 'label label-warning';
                    break;
            }


            return <span className={this.state.labelClass}> {this.props.rowData.status}</span>

        }
    });

    var columnMeta = [
        {
            "columnName": "name",
            "displayName": "Scenario",
            "order": 1,
            "locked": false,
            "visible": true,
            "customComponent": LinkComponent
        },
        {
            "columnName": "actions",
            "displayName": "Actions",
            "locked": false,
            "visible": true,
            "customComponent": ActionComponent
        },
        {
            "columnName": "status",
            "displayName": "Status",
            "locked": false,
            "visible": true,
            "customComponent": StatusLabelComponent
        }

    ];

    function updateTable(component, href) {
        $.get(href, function (result) {
            var newList = reformatJSON(result.data);
            if (component.isMounted()) {
                component.setState({
                    results: newList
                });
            }
        });
    }

    var ExternalScenarios = React.createClass({
        getInitialState: function () {
            var initial = {
                "results": [],
                "resultsPerPage": 100
            };

            return initial;
        },
        //general lifecycle methods
        componentWillMount: function () {
        },
        componentDidMount: function () {
            // getting scenarios
            var href = '';
            if ($.cookie("stubo.all-hosts") == 'true') {
                // amending query argument to get all hosts
                href = this.props.source + '?all-hosts=true'
            } else {
                href = this.props.source + '?all-hosts=false'
            }

            updateTable(this, href);

            // subscribing to modal close event
            $('#myModal').on('hidden.bs.modal', function () {
                console.log("downloading new scenario list");
                updateTable(this, href);
            }.bind(this));
        },

        //what page is currently viewed
        setPage: function (index) {
        },
        //this will handle how the data is sorted
        sortData: function (sort, sortAscending, data) {
        },
        //this changes whether data is sorted in ascending or descending order
        changeSort: function (sort, sortAscending) {
        },
        //this method handles the filtering of the data
        setFilter: function (filter) {
        },
        //this method handles determining the page size
        setPageSize: function (size) {
        },


        render: function () {
            return <Griddle results={this.state.results}
                            useGriddleStyles={true}
                            showFilter={true} showSettings={true}
                            resultsPerPage={this.state.resultsPerPage}
                            columnMetadata={columnMeta}
                            columns={["name", "sessions", "status", "loaded", "last_used", "space_used_kb", "stub_count", "recorded", "actions"]}/>
        }
    });

    React.render(
            <ExternalScenarios source="/stubo/api/v2/scenarios/detail"/>,
            document.getElementById("app"))
</script>


{% end endjs %}