{% extends "base.html" %}
{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Run Commands
        </h3>
    </div>
    <div class="panel-body">
        <div class="row box-padding">
            <form action="/manage/exec_cmds">
                <div class="input-group col-xs-8">
              <span class="input-group-addon"
                    data-toggle="tooltip" data-placement="top"
                    title="uri or local file reference to a commands script file.">
              File</span>
                    <input id="manage-exe-command" type="text" class="form-control" name="cmdfile" value="{{cmdFile}}"
                           placeholder="/static/cmds/demo/first.commands">
              <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">
                      run
                  </button>
              </span>
                </div>
                <input type="hidden" name="html" value="true">

                </p>
            </form>

            <form action="/manage/exec_cmds">
                <input type="hidden" name="html" value="true">

                <h3 class="panel-title box-padding">
                    Commands
                    <button class="btn btn-primary" type="submit">run</button>
                </h3>
                <div class="input-group col-xs-8" data-toggle="tooltip" data-placement="top"
                     title="Enter line separated commands.">
                    <textarea id="manage-exe-commands" class="form-control" name="cmds"
                              placeholder="delete/stubs?scenario=foo"></textarea>
                </div>
            </form>

        </div>
    </div>


    {% if host_scenarios and host_scenarios.values() != [{}] %}
    <h2>Scenarios</h2>

    {% for hostname, scenario in host_scenarios.iteritems() %}
    {% if scenario %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                {{hostname}}
            </h2>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Scenario</th>
                        <th>Session</th>
                        <th>Status</th>
                        <th>Stubs</th>
                        <th>Loaded</th>
                        <th>Last Used</th>
                        <th class="spaceHead">Space used (KB)</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for scenario_name, session_info in scenario.items() %}
                    {% set active_sessions = [x for x in session_info[0] if x['status'] in ('record', 'playback')] %}
                    {% set possible_playback_sessions = [x for x in session_info[0] if x['status'] in ('dormant',
                    'playback')] %}
                    {% for i in range(len(session_info[0])) %}
                    <tr>
                        <td>
                            {% if i == 0 %}

                            {% if len(scenario_name) > 20 %}
                <span data-toggle="tooltip" data-container="body" data-placement="top" title="{{scenario_name}}">  
                <a href="../stubs?scenario={{scenario_name}}&host={{session_info[0][i].get('scenario').partition(':')[0]}}">{{'{0}...'.format(scenario_name[:20])}}</a></span>
                            {% else %}
                            <a href="../stubs?scenario={{scenario_name}}&host={{session_info[0][i].get('scenario').partition(':')[0]}}">{{scenario_name}}</a>
                            {% end %}

                            {% end %}
                        </td>
                        {% set session_name = session_info[0][i].get('session') %}
                        {% set status = session_info[0][i].get('status').strip() %}
                        {% if len(session_name) > 20 %}
                        <td id="manage-session-name">
       <span data-toggle="tooltip" data-container="body" data-placement="top" title="{{session_name}}">
          {{'{0}...'.format(session_name[:20])}}</span>
                        </td>
                        {% else %}
                        <td>{{session_name}}</td>
                        {% end %}
                        <td>{{status}}</td>
                        <td>{{session_info[1]}}</td>
                        <td>{{session_info[2]}}</td>
                        {% set last_used = session_info[0][i].get('last_used') %}
                        {% if last_used != '-' %}
                        {% set last_used = last_used[:-3] %}
                        {% end %}
                        <td>{{last_used}}</td>
                        <td class="spaceCell">{{session_info[3]}}</td>
                        {% if i == 0 %}
                        <td>
                            <!-- scenario actions btn -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu manage-scenario-actions" role="menu">
                                    <li><a href="/stubo/api/get/export?scenario={{scenario_name}}&html=true"><span
                                            class="glyphicon glyphicon-cloud-download"></span>&nbsp; Export scenario</a>
                                    </li>
                                    <li class="menu-item dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                                class="glyphicon glyphicon-off"></span>&nbsp;Export runnable
                                            scenario</a>
                                        <ul class="dropdown-menu" role="menu">
                                            {% for playback_session in possible_playback_sessions %}
                                            {% set session_name = playback_session.get('session') %}
                                            <li class="menu-item ">
                                                <a href="/stubo/api/get/export?scenario={{scenario_name}}&runnable=true&playback_session={{session_name}}&html=true">{{session_name}}</a>
                                            </li>
                                            {% end %}
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="../stubs?scenario={{scenario_name}}&host={{session_info[0][i].get('scenario').partition(':')[0]}}"><span
                                                class="glyphicon glyphicon-search"></span>&nbsp;List stubs</a></li>
                                    <li><a class="scenarioAction" id="/stubo/api/delete/stubs?scenario={{scenario_name}}" href="#"><span
                                            class="glyphicon glyphicon-trash"></span>&nbsp;Delete stubs</a></li>
                                    {% if active_sessions %}
                                    <li>
                                        <a class="scenarioAction" id="/stubo/api/end/sessions?scenario={{scenario_name}}" href="#"><span
                                                class="glyphicon glyphicon-off"></span>&nbsp;End all active sessions</a>
                                    </li>
                                    <!--/manage?action=end_sessions&name={{scenario_name}}-->
                                    {% end %}
                                </ul>
                            </div>

                        </td>
                        {% end %}
                    </tr>
                    {% end %}

                    {% end %}
                    </tbody>
                </table>
            </div>
        </div>
        {% end %}
    </div>
    {% end %}
    {% end %}


    {% if delays %}
    <h2>Delays</h2>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Delay Policies
            </h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Values</th>
                    </tr>
                    <thead>
                    {% for delay in delays %}

                    {% if delays[delay]['delay_type'] == 'fixed' %}

                    {% set values = str(delays[delay]['milliseconds']) + ' msecs' %}

                    {% elif delays[delay]['delay_type'] == 'normalvariate' %}
                    {% set values = 'mean: ' + str(delays[delay]['mean']) %}
                    {% set values = values + ', stddev: ' + str(delays[delay]['stddev']) %}

                    {% elif delays[delay]['delay_type'] == 'weighted' %}
                    {% set values = delays[delay]['delays'] %}

                    {% else %}
                    {% set values = 'invalid record' %}
                    {% end %}
                    <tr>
                        <td>{{delay}}</td>
                        <td>{{delays[delay]['delay_type']}}</td>
                        <td>
                            {% if delays[delay]['delay_type'] == 'weighted' %}
                            {% for val in values %}
                            <li> {{ val }}</li>
                            {% end %}
                            {% else %}
                            {{values}}
                            {% end %}
                        </td>
                        <td>
                            <!-- Single button -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/manage?action=delete&type=delay_policy&name={{delay}}"><span
                                            class="glyphicon glyphicon-trash"></span>&nbsp;Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% end %}
                </table>
            </div>
            <hr/>
        </div>
    </div>
    {% end %}


    {% if modules %}
    <h2>Modules</h2>

    <div class="table-responsive">
        <table class="table table-striped table-hover table-condensed">
            <tr>
                <th>Name</th>
                <th>Latest code version</th>
                <th>Loaded module versions</th>
                <th></th>
            </tr>
            {% for module_name, info in modules.iteritems() %}
            <tr>
                <td><a data-toggle="collapse" data-target="#{{module_name}}-code">{{module_name}} &raquo;</a></td>
                <td>{{info.get("latest_code_version")}}</td>
                <td>{{info.get("loaded_sys_versions")}}</td>
                <td>
                    <!-- Single button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/manage?action=delete&type=module&name={{module_name}}"><span
                                    class="glyphicon glyphicon-trash"></span>&nbsp;Delete module</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="collapse-group">
                        <div class="collapse" id="{{module_name}}-code">
                            {% raw info['code'] %}
                        </div>
                    </div>

                </td>
            </tr>
            {% end %}
        </table>
    </div>
    <hr/>
    {% end %}

    <div id="manage-help">
        <h3>Example Commands</h3>

        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Example Command</th>
                    <th>Function</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="color:blue;">begin/session?scenario=<em>abc</em>&session=<em>123</em>&mode=record</td>
                    <td>begin a session in record mode.</td>
                </tr>
                <tr>
                    <td style="color:blue;">put/stub?session=<em>123</em></td>
                    <td>load stubs. Stub matcher and response is to be in the HTTP body. (POST)</td>
                </tr>
                <tr>
                    <td style="color:blue;">end/session?session=<em>123</em></td>
                    <td>end a record session.</td>
                </tr>
                <tr>
                    <td style="color:blue;">get/export?scenario=<em>abc</em></td>
                    <td>export stubs.</td>
                </tr>
                <tr>
                    <td style="color:blue;">/stubo/api/exec/cmds?cmdfile=<em>command file URI</em></td>
                    <td>import stubs by executing a command script.</td>
                </tr>
                <tr>
                    <td style="color:blue;">begin/session?scenario=<em>abc</em>&session=<em>123</em>&mode=playback</td>
                    <td>begin a session in playback mode.</td>
                </tr>
                <tr>
                    <td style="color:blue;">get/response?session=<em>123</em></td>
                    <td>get Stubo responses - usually done by test tool utilising the stubo client library. (POST)
                </tr>
                <tr>
                    <td style="color:blue;">end/session?session=<em>123</em></td>
                    <td>end a playback session.</td>
                </tr>
                <tr>
                    <td style="color:blue;">delete/stubs?scenario=<em>abc</em></td>
                    <td>delete stubs.</td>
                </tr>
                <tr>
                    <td style="color:blue;">put/delay_policy?name=<em>delay_1</em>&delay_type=<em>fixed</em>&milliseconds=<em>200</em>
                    </td>
                    <td>set a delay policy.</td>
                </tr>
                </tbody>
            </table>
        </div>

        <p>All commands above are written as if run in a command file. They can also be run as http commands such
            as:</p>
        <pre>http://<em>'stubo host'</em>/stubo/api/begin/session?scenario=foo&session=foo_1&mode=record</pre>
        <p></p>

        <h3>Sessions and Scenarios</h3>

        <p>In Stubo, a session corresponds to a transactional unit of work such as the recording
            or playback of stubs.
            A scenario identifies a set of recorded stubs which can be reused by multiple sessions.
            The session name used to record stubs may be the same or different from the
            session name used in playback. In either case sessions should be ended when no
            longer in active use as they consume resources.
        </p>

        <p>Scenarios can be deleted and will delete all the stubs in the scenario and any sessions using those stubs.
            Delete will only succeed if all sessions based on the scenario have ended.
        </p>

        <p>Manage stubs using the Stubo REST API. The commands below should generally be
            scripted in a Stubo commands file or triggered from a test tool (using HTTP).
            This encourages and enables re-use.</p>

        <h3>Test data setup and teardown </h3>

        <p>A software test often begins with a data setup step and is concluded with test data teardown.
            Ideally this is automated by the tool running the test. Stubo enables this from most
            tests tools through the use of an HTTP call to Stubo to execute a stub command file.
            Such a call should load stubs and begin a Stubo session in playback mode ready for the
            test itself.
        </p>

        <p>At the conclusion of the test a teardown step should end the playback session and
            delete stubs.</p>
        <h4>Stubo command files</h4>

        <p>Execute all the commands in a command file as follows:
<pre>
    http://<em>'stubo host'</em>/stubo/default/exec/cmds?cmdfile=<em>'url of file'</em>
</pre>
        The 'url of file' will typically be a full http:// url to the file in SVN or
        other code repository, or a location in the stubo host server itself.

        <p>An example which performs the Stubo equivalent of 'Hello World' is:</p>
<pre>
    <a href="/stubo/api/exec/cmds?cmdfile=/static/cmds/demo/first_setup.commands">http://<em>'stubo host'</em>/stubo/api/exec/cmds?cmdfile=/static/cmds/demo/first_setup.commands</a>
</pre>
        <p></p>

        <p>first_setup.commands contains the data setup:</p>
<pre>
    begin/session?scenario=first&session=first_1&mode=record<br/>
    put/stub?session=first_1,first.textMatcher,first.response<br/>
    end/session?session=first_1<br/>
    begin/session?scenario=first&session=first_1&mode=playback<br/>
</pre>
        <br/>

        <p>When the test is completed the following teardown should be run</p>
<pre>
    <a href="/stubo/api/exec/cmds?cmdfile=/static/cmds/demo/first_teardown.commands">http://<em>'stubo host'</em>/stubo/api/exec/cmds?cmdfile=/static/cmds/demo/first_teardown.commands</a>
</pre>
        <p></p>

        <p>first_teardown.commands contains the following cmds:</p>
<pre>
    get/response?session=first_1,first.request<br/>
    end/session?session=first_1<br/>
</pre>
        </p>
    </div>


</div>
<!--</div>-->

<!-- Modal  -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Operation information</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<script>


    $(document).ready(function () {

        $(".scenarioAction").click(function (event) {
            var infoModal = $('#myModal');
            href = event.target.id;
            // checking whether this is a delete stubs call
            if(href.indexOf("/stubo/api/delete/stubs") != -1){
                // check whether user cookie 'all hosts' value is true
                if($.cookie("stubo.all-hosts") == 'true'){
                    // amending query argument to delete stubs in all hosts
                    href = event.target.id + '&host=all'
                }
            }

            $.ajax({
                type: "GET",
                dataType: "json",
                url: href,
                success: function (data) {
                    info_msg = JSON.stringify(data.data, null, 2);
                    htmlData = '<ul><li>Stubo Version: ' + data.version + '</li><li>Info: ' + info_msg + '</li></ul>';
                    infoModal.find('.modal-body').html(htmlData);
                    infoModal.modal('show');
                    return false;
                }
            });

        });

        $('#myModal').on('hidden.bs.modal', function () {
            window.location.reload(true);
        })
    });
</script>
{% end %}
